# {{ project_name }}

| |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            |
|---|----------------|
| Package | [![Latest PyPI Version](https://img.shields.io/pypi/v/{{project_slug}}.svg)](https://pypi.org/project/{{project_slug}}/) [![Supported Python Versions](https://img.shields.io/pypi/pyversions/{{project_slug}}.svg)](https://pypi.org/project/{{project_slug}}/) {% if use_rtd %}[![Documentation](https://readthedocs.org/projects/{{project_slug}}/badge/?version=latest)](https://{{project_slug}}.readthedocs.io/en/latest/?badge=latest)  {% endif %}                                                                                                                                                                         |
| Meta | [![{{ license }}](https://img.shields.io/pypi/l/{{project_slug}}.svg)](LICENSE) [![Code of Conduct](https://img.shields.io/badge/Contributor%20Covenant-v2.0%20adopted-ff69b4.svg)](.github/CODE_OF_CONDUCT.md)  |
| Automation |  |

_{{ package_description }}_

TODO: Add more about what the package does here.

## Get started

You can install this package into your preferred Python environment using pip:

```bash
$ pip install {{ project_slug }}
```

TODO: Add a brief example of how to use the package to this section

To use {{ project_slug }} in your code:

```python
>>> import {{ project_slug }}
>>> {{ project_slug }}.hello_world()
```

## Copyright

{% include pathjoin("includes", "licenses", "stub.md.jinja") %}
