{{ project_name }}
========================================================================================

{{ package_description }}

Copyright
---------
{% if license == "MIT" %}
- Copyright © {{ year }} {{ copyright_holder }}.
- Free software distributed under the [MIT License](../LICENSE).
{% elif license == "BSD-3-Clause" %}
- Copyright © {{ year }} {{ copyright_holder }}.
- Free software distributed under the [3-Clause BSD License](../LICENSE).
{% elif license == "Apache-2.0" %}
- Copyright © {{ year }} {{ copyright_holder }}.
- Free software distributed under the [Apache Software License 2.0](../LICENSE).
{% endif %}
