"""A test module that tests your example module

Some people prefer to write tests in a test file for each function or
method/ class. Others prefer to write tests for each module. That decision
is up to you. This test example provides a single test for the example.py
module.
"""
import pytest

from {{ project_slug if project_slug else project_name }}.example import add_numbers

def test_add_numbers(a, b):
    """Test that add_numbers works as expected.

    A single line docstring for tests is generally sufficient.

    """
    out = add_numbers(1, 2)
    assert  out == 3, f"Expected 3 but got {out}"
