# {{ project_name }}

## Overview

{{ package_description }}

Welcome to your sphinx documentation for your project!

[API Documentation](./api/modules.rst)

## Copyright

{% with license_path = False -%}
{% include pathjoin("includes", "licenses", "stub.md.jinja") %}
{%- endwith %}

```{toctree}
:hidden:
./api/modules.rst
```
