{% include pathjoin("includes", "licenses", "header.txt.jinja") %}

"""Test that the package can be imported."""


def test_import():
    """Test that the package can be imported."""
    import {{ package_name }}  # noqa: F401
